body {
  background-color: steelblue;
}
.panel-heading {
  background-color: cornsilk;
}
.panel-default {
  margin-top: 10%;
  background-color: dodgerblue;
  border: 1px solid SteelBlue;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.10);
  -moz-box-shadow:    2px 2px 1px 0px rgba(50, 50, 50, 0.10);
  box-shadow:         2px 2px 1px 0px rgba(50, 50, 50, 0.10);
}
.panel-silked {
  background-color: cornsilk!important;
  border-radius: 0px!important;
}
.panel-body {
  background-color: dodgerblue;
  color: white;
  padding: 60px;
  border-radius: 6px;
}

.panel-body a {
  color: white;
}
